<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Site - Pesquisa Produtos</title>
</head>

<body>

  <nav>
    <div class="back-button">
      <a href="../model/menu.php" class="back-link"></a>
    </div>
    <header> Pesquisa de Produtos </header>
  </nav>

  <section class= "flex">
    <fieldset>
      <legend>Digite o nome do produto</legend>

    <form class="sendform" method="POST" action="../model/searchProduct.php">

        <label for="cxname">Nome:</label>
        <input type="text" id="cxname" name="cxname" placeholder="Caixa..." required>
        <br><br>
        <input class="submitbox" type="submit" value="Pesquisar">
    </form>
  </fieldset>

  
  </section>


  
</body>
</html>
